body,html{
    height: 100%;
}

body{

    background-color: #350a06;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
h3 {
    text-align: center;
    color: #e1970e;
}

.container {
    margin-top: 50px;
    flex: 1 0 auto;
}

input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    margin-left: 120px;
    
}

.OptionDownload {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}
#videoUrl{
    border-radius: 5px;
}
select{
    padding: 10px 20px;
    background-color: #FFA500;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

footer {
    flex-shrink: 0;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
.block{
    display: block;
}
.none{
    display: none;
}
